@use "../../styles/utils/variables" as var;

// .vertical-center {
//   margin: 0;
//   position: absolute;
//   top: 50%;
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }
.bg-hero {
  height: 100%;
  display: flex;
  position: relative;
  &__left {
    display: flex;
    background-color: var.$hero-color-right;
    height: 100vh;
  }

  &__right {
    display: flex;
    background-color: var.$hero-color-left;
    height: 100vh;
  }

  &__title-container {
    flex-direction: column;
  }

  &__vertical-center {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-family: var.$GramatikaBlack;
  }

  &__caption {
    font-family: var.$GramatikaMedium;
    font-size: var.$caption;
  }

  &__cta-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }

  &__resume-btn {
    background-color: var.$pink;
    text-align: center;
    color: var.$default-white;
    font-family: var.$GramatikaMedium;
    // font-size: 1.2em;
  }

  &__social-container {
    display: flex;
    margin-top: 1.2em;
    justify-content: space-between;
  }
}

//   // Desktop Sizes
//   @media (max-width: 1440px) {
//     width: 1280px;
//     min-width: 1280px;
//   }

//   //   Medium Sized Laptops
//   @media (max-width: 1280px) {
//     width: 976px;
//     min-width: 976px;
//   }

//   @media (max-width: 976px) {
//     width: 100%;
//     min-width: 100%;
//   }
