@font-face {
  font-family: "Gramatika-Light";
  src: url("../../public/static/fonts/Gramatika-Light.ttf");
}

/* Regular */
@font-face {
  font-family: "Gramatika-Regular";
  src: url("../../public/static/fonts/Gramatika-Regular.ttf");
}

/* Medium */
@font-face {
  font-family: "Gramatika-Medium";
  src: url("../../public/static/fonts/Gramatika-Medium.ttf");
}

/* Black */
@font-face {
  font-family: "Gramatika-Black";
  src: url("../../public/static/fonts/Gramatika-Black.ttf");
}
