$GramatikaLight: "Gramatika-Light";
$GramatikaRegular: "Gramatika-Regular";
$GramatikaMedium: "Gramatika-Medium";
$GramatikaBlack: "Gramatika-Black";
$default: "Gramatika-Medium", -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue",
  "sans-serif";

// Colors
$pink: "#FF2C9C";
$pink-hover: "#D10672";
$default-black: "#000";
$default-white: "#fff";
$hero-color-right: "#0D243C";
$hero-color-left: "#fff";
