$GramatikaLight: "Gramatika-Light";
$GramatikaRegular: "Gramatika-Regular";
$GramatikaMedium: "Gramatika-Medium";
$GramatikaBlack: "Gramatika-Black";
$default: "Gramatika-Medium", -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue",
  "sans-serif";

// Colors
$pink: #ff2c9c;
$pink-hover: #d10672;
$default-black: #000;
$default-white: #fff;
$hero-color-right: #fff;
$hero-color-left: #0d243c;

$h1: 4rem;
$h2: 3.8rem;
$h3: 3.6rem;
$h4: 3.4rem;
$h5: 3rem;
$h6: 2.8rem;
$caption: 1.8rem;
