@use "sass:map";
@import "../utils/mixins";
// $breakpoint is simply a variable that can have several values
/*
    375px xsphones
    576px  smphones
    768px for phablets
    992px for large devices/laptops
    1200px for large devices/laptops
    1400 for laptop/desktop screens
    1920 for xl desktop screens
*/
$container-widths: (
    reset: 100%,
    xs: 564px,
    sm: 768px,
    md: 1024px,
    lg: 1200px,
    xl: 1400px,
    xxl: 1600px
);

$reset: 100%;
$breakpoint-xs: 28rem;
$breakpoint-sm: 50rem;
$breakpoint-md: 80rem;
$breakpoint-lg: 90rem;
$breakpoint-xl: 100rem;
$breakpoint-xxl: 120rem;

$container-xs: 28rem;
$container-sm: 50rem;
$container-md: 80rem;
$container-lg: 90rem;
$container-xl: 100rem;
$container-xxl: 120rem;

// XS
.l-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@include respond(tablets) {
    .l-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.l-container {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;

    // xsphones 24rem
    @include respond(xsphones) {
    }

    // Phones 36rem
    @include respond(smphones) {
    }

    // Phablets 48rem
    @include respond(phablets) {
        max-width: 85%;
        width: 85%;
    }

    // Tablets 62rem
    @include respond(tablets) {
        // width: 62rem;
        // max-width: 100%;
        // max-width: map.get($container-max-widths, "md");
        // background-color: red;
    }

    // Laptops 75rem
    @include respond(laptop) {
        // width: 75rem;
        // max-width: 100%;
        // width: 900px;
        // width: $container-lg;
        // max-width: $container-lg;
        // width: 80rem;
    }
    // Desktop 100rem
    @include respond(desktop) {
        // width: $container-xl;
        // max-width: $container-lg;
        // width: 90%;
        // max-width: 90%;
        // background-color: blue;
    }

    // XXL 120rem
    @include respond(xl_desktop) {
        // width: 90%;
        width: 80%;
        max-width: 80%;
    }
}

div[class^="column-"] {
    text-align: center;
    padding: 1rem 0;
}

$columns: 12;
@for $i from 1 through $columns {
    .column-#{$i} {
        flex: 0 0 100% / $columns * $i;
    }
}
