@use "./variables" as variables;
@import "./mixins";
/* Includes grid systems, responsive frameworks, wrappers, etc */

/* 
    576px portrait phones
    768px for tablets
    992px for laptops
    1200px for large devices
    1400 for laptop/desktop screens
    1920 for xl desktop screens
*/

.navbar {
    &__container {
        width: 100%;
        margin: 0 auto;

        // Medium Sizes
        @media (min-width: 976px) {
            width: 80%;
        }

        // Desktop Medium Screens
        @media (min-width: 1280px) {
            width: 80%;
        }

        // Desktop Large Screens
        @media (min-width: 1400px) {
            width: 82%;
        }

        // XL Screens
        @media (min-width: 1920px) {
            width: 74%;
        }
    }
}
